<% provide(:title, '素人') %>
<% @category = "素人" %>
<%= render "cgrpages/tab_head" %>

     <li class="active"><%= link_to "素人（#{@count}）", :controller => "cgrpages", :action => "amateur" %></li>
<%= render "cgrpages/tab" %>


