<% provide(:title, 'AV女優') %>
<% @category = "AV女優" %>
<%= render "cgrpages/tab_head" %>


     <li class="active"><%= link_to "AV女優（#{@count}）",:controller => "cgrpages", :action => "avactless" %></li>
<%= render "cgrpages/tab" %>
     

