<% provide(:title, '美少女') %>
<% @category = "美少女" %>
<%= render "cgrpages/tab_head" %>

     <li class="active"><%= link_to "美少女（#{@count}）" ,:controller => "cgrpages", :action => "beautifull" %></li>
 
<%= render "cgrpages/tab" %>

