<% provide(:title, 'フェチ') %>
<% @category = "フェチ" %>
<%= render "cgrpages/tab_head" %>
     <li class="active"><%= link_to "フェチ（#{@count}）" ,:controller => "cgrpages", :action => "fetish" %></li>
<%= render "cgrpages/tab" %>


