<% provide(:title, 'お宝/ハプニング') %>
<% @category = "お宝/ハプニング" %>
<%= render "cgrpages/tab_head" %>

     <li class="active"><%= link_to "お宝/ハプニング（#{@count}）", :controller => "cgrpages", :action => "happenings" %></li>
<%= render "cgrpages/tab" %>

