<% provide(:title, 'アイドル') %>
<% @category = "アイドル" %>
<%= render "cgrpages/tab_head" %>

     <li class="active"><%= link_to "アイドル（#{@count}）", :controller => "cgrpages", :action => "idol" %></li>

<%= render "cgrpages/tab" %>
