<% provide(:title, 'おっぱい') %>
<% @category = "おっぱい" %>
<%= render "cgrpages/tab_head" %>
     <li class = "active"><%= link_to "おっぱい（#{@count}）" ,:controller => "cgrpages", :action => "index" %></li>
<%= render "cgrpages/tab" %>


