<% provide(:title, '女子大生') %>
<% @category = "女子大生" %>
<%= render "cgrpages/tab_head" %>
     <li class="active"><%= link_to "女子大生（#{@count}）" ,:controller => "cgrpages", :action => "jd" %></li>
<%= render "cgrpages/tab" %>
