<% provide(:title, '女子高生') %>
<% @category = "女子高生" %>
<%= render "cgrpages/tab_head" %>
     <li class="active"><%= link_to "女子高生（#{@count}）" ,:controller => "cgrpages", :action => "jk" %></li>
<%= render "cgrpages/tab" %>



