<% provide(:title, 'ギャル') %>
<% @category = "ギャル" %>
<%= render "cgrpages/tab_head" %>
     <li class="active"><%= link_to "ギャル（#{@count}）" ,:controller => "cgrpages", :action => "nowgirls" %></li>
<%= render "cgrpages/tab" %>
 

