<% provide(:title, '盗撮') %>
<% @category = "盗撮" %>
<%= render "cgrpages/tab_head" %>
     <li class="active"><%= link_to "盗撮（#{@count}）" ,:controller => "cgrpages", :action => "peeping" %></li>
<%= render "cgrpages/tab" %>
 

