<% provide(:title, '企画') %>
<% @category = "企画" %>
<%= render "cgrpages/tab_head" %>
     <li class="active"><%= link_to "企画（#{@count}）" ,:controller => "cgrpages", :action => "planned" %></li>
<%= render "cgrpages/tab" %>
