<% provide(:title, '放尿/脱糞') %>
<% @category = "放尿/脱糞" %>
<%= render "cgrpages/tab_head" %>
     <li class="active"><%= link_to "放尿/脱糞（#{@count}）" ,:controller => "cgrpages", :action => "scatology" %></li>
<%= render "cgrpages/tab" %>

