<% provide(:title, "About") %>

<div class="About_Contact">
	<h2>当サイトについて -About Us-</h2>
	<h3>理想</h3>
	<div class= "content_description">
		<p>
			<div class="s">「オナニータイムは節約すべし！」</div>
		</p>
	</div>
	<h3>おっぱいの海で泳ぎたいってどんなサイト？</h3>
	<div class= "content_description">
		<p>上質かつストーリー性のあるエロをお届け。xvideosやfc2などから
			良質な動画を厳選して配信しております。１日5更新前後ですね。多い時は10本を越えるときも。
			１日3本を下回ることは無いように気をつけています。どうしても仕事で手が放せない場合は
			前後の日にまとめて更新していることもあります。
		</p>
		<p>
			サイト自体は今流行り（遅い？）のruby on railsで作成しています。</br>
			管理人は仕事しながら片手間にwebサイトを作成しているのですが、
			本サイトは企画から公開までに丸4ヶ月を要しました。</p>
			<p>
				新しい技術を身に付けるのって、大変ですね。c言語を触ったことはあったのですが、
				プログラムの経験と言ってもそれぐらい。ほとんど素人に近い状態からのスタートでした。
				エラーの嵐にめげそうになりながら、なんとか這いつくばってここまで進んできた感じです。</p>
				<p>
					他にもサーバ関連はnginx+unicornの構成で挑みました。AWSは途中で挫折してさくらVPSにしました。
					デプロイはCapistranoで自動化して..とか流行りモノを取り入れてみたのですが。
					成功したのかどうかはよくわかりませぬ。
				</p>
				<p>
					というわけで、もっと改善したーいポイントは沢山あるんですが、ちまちましか進みそうにありません。
					このサイトは気長に育てていくつもりです。
				</p>
				<p>
					なお、私が目指すのは「ふっと足を伸ばしたくなる」エロサイトです。最初に示した理想は
					オナニータイムは節約すべし、というものです。ふっと足を伸ばしたところに美味しいおかずが
					転がっていて、しかも手に入りやすかったら嬉しいですよね。</br>
				</p>
				<p>
					配信していく動画に関しては
					管理人の好みというバイアスはかかってしまうかもしれませんが、
					それなりにマジョリティの好みと合致している..はずです。
					風俗にいっても自分のお気に入りは必ずお店でも人気の嬢ですし、
					自分の好みの動画は結構再生回数も多かったりしますし。。
				</p>
				<p>
					特殊な性癖といえば、おしっこ我慢が好きってぐらいでしょうか。</br>
					たまりませんよね。あれ。もじもじしてるの。</br>
					少し前にお花見とかバーベキューの会場で、トイレの列を待ちきれなくて
					草むらで用を足していた女性を盗撮した連中が逮捕されましたけど、
					やっぱり需要あるんですよね。TokyoTubeとかで結構そういう動画ありますし。
				</p>
				<p>
					おっぱいすき。おっぱい大好き。だけどおっぱいに限らず、男を興奮させる女の姿を求めています。</br>
					沢山集めた中から厳選して、1日に5本程度の記事（動画）配信を行っていくつもりです。</br>ここでその日のお気に入りが見つかって、その場で「抜いて」もらえれば私は幸せ。</br>
					人生有限です。当サイトを使ってオナニーの時間を節約しましょう。</p>
				</div>
				<!-- ############################## -->
				<h3>「カテゴリ」について</h3>
				<div class= "content_description">
					<p>過去の記事をカテゴリ別にご覧頂けます。</p>
				</div>
				<!-- ############################## -->
				<h3>「ニュース」について</h3>
				<div class= "content_description">
					<p>ガチのエロを含めたニュースのポータルとして機能させたいと思っています。実装までもう少し時間がかかりそうです。</p>
				</div>
				<!-- ############################## -->
				<h3>「風俗入門」について</h3>
				<div class= "content_description">
					<p>動画ばっかり見てオナニーしていると、つい動画の中のきれいな女性がいればそれでいいや
						と思ってしまいがちですが、やっぱり実物の女はいいものです。そして実物の女に
						簡単に会えるのが風俗というものです。。</p>
						<p>
							ただ、遊び方を一歩間違えれば「性病」なる強烈な報復が待っているものです。
							管理人も、贔屓にしていた女の子から「淋病」をもらい、激烈な灼熱の痛みと大量の膿に
							悩まされて年末年始を過ごしたことがあります。。まだ治る病気だったから良かったものの、一旦性病をもらうとものすごい不安感に
							苛まれる日々が続いてしまうものです。</p>
							<p>ただ、「いい子」に出会っていいSEXを積み重ねると、男としての自信と
								前向きな人生を歩む活力が生まれてくるという、この諸刃の剣。
								女を喜ばせて男として自信がつけば、あとは歯車が噛み合ってどんどん女が寄ってくるようになる..
								そんな素晴らしい「風俗遊び」に入門するための基礎知識をご紹介していきますね。</p>
							</div>
							<!-- ############################## -->
							<h3>★ リンクについて</h3>
							<div class= "content_description">
								<p>当サイトはリンクフリーです。ご自由にどうぞ。</p>
							</div>
							<h3>★ 逆アクセスについて </h3>
							<p></p>
							<!-- ############################## -->
							<h3>★ 免責事項</h3>
							<div class= "content_description">
								<p>当サイト内のコンテンツは全て無料で安心して楽しめるように配慮しています。</p>
								<p>ただし、当サイトには広告や他サイトへのリンクが掲載されております。
									十分な情報収集の上、実績/信頼のある良質な広告主/リンク先を選択しておりますが、
									万一広告先/リンク先で詐欺等の被害に遭われた場合は、
									お問い合わせフォームよりその内容を報告して頂ければ幸いです。事実確認した後、
									悪質だと判断された場合には広告配信の停止、当該サイトに対するリンクの削除措置を講じます。
									ただし、当サイトに含まれる情報もしくはサービスなどを利用することにより生じる直接的または間接的な損失に対して、当サイトは一切責任を負いません。
									当サイト・または情報を利用する場合、上記の免責事項に同意したとみなし自己責任の上、ご利用下さい。</p></br>
								</div>
							</div>
							<%= render "layouts/ad_footer" %>




