<% provide(:title, "About") %>

<div class="About_Contact">
	<h3>当サイトについて -About Us-</h3>
<!-- ############################## -->
<h4>★ 理想</h4></br>
<p><div class="s">「オナニータイムは節約すべし！」</div></p></br>
<!-- ############################## -->
<h4>★ おっぱいの海で泳ぎたいってどんなサイト？</h4></br>
<p>上質かつストーリー性のあるエロをお届け。</br>
おっぱいすき。おっぱい大好き。だけどおっぱいに限らず、男を興奮させる女の姿を求めています。</br>
沢山集めた中から厳選して、1日に5本程度の記事（動画）配信を行っていくつもりです。</br>
ここでその日のお気に入りが見つかって、その場で「抜いて」もらえれば私は幸せ。</br>
人生有限です。当サイトを使ってオナニーの時間を節約しましょう。</p></br>
<!-- ############################## -->
<h4>★ 「カテゴリ」について</h4>
<p>過去の記事をカテゴリ別にご覧頂けます。</p></br>
<!-- ############################## -->
<h4>★ 「ニュース」について</h4></br>
<p>2チャンネルのまとめサイト他、各種サイトの更新情報をまとめて「ニュース」として配信しています。エロをメインに、たまに趣の違うものも入れていこうかと画策中。</p></br>
<!-- ############################## -->
<h4>★ 「風俗入門」について</h4></br>
<p>動画ばっかり見ているオナニー野郎たち、女はいいものだぜ、というメッセージを伝えたく、
	こんなコンテンツを設けてしまいました。</br>
ただ、遊び方を一歩間違えれば「性病」なる強烈な報復が待っているものです。</br>
管理人も、贔屓にしていた女の子から「淋病」をもらい、激烈な灼熱の痛みと大量の膿に
	悩まされて年末年始を過ごしたことがあります。。</br>
まだ治る病気だったから良かったものの、一旦性病をもらうとものすごい不安感に
	苛まれる日々が続いてしまうものです。</br></p>
<p>ただ、「いい子」に出会っていいSEXを積み重ねると、男としての自信と
	前向きな人生を歩む活力が生まれてくるという、この諸刃の剣。</br>
女を喜ばせて男として自信がつけば、あとは歯車が噛み合ってどんどん女が寄ってくるようになる..</br>
そんな素晴らしい「風俗遊び」に入門するための基礎知識をブログ形式で紹介していきますね。</p></br>
<!-- ############################## -->
<h4>★ リンクについて</h4></br>
<p>当サイトはリンクフリーです。ご自由にどうぞ。</p></br>
<!-- ############################## -->
<h4>★ 免責事項</h4></br>
<p>当サイト内のコンテンツは全て無料で安心して楽しめるように配慮しています。</p>
<p>ただし、当サイトには広告や他サイトへのリンクが掲載されております。
	十分な情報収集の上、実績/信頼のある良質な広告主/リンク先を選択しておりますが、
	万一広告先/リンク先で詐欺等の被害に遭われた場合は、
	お問い合わせフォームよりその内容を報告して頂ければ幸いです。事実確認した後、
	悪質だと判断された場合には広告配信の停止、当該サイトに対するリンクの削除措置を講じます。
	ただし、当サイトに含まれる情報もしくはサービスなどを利用することにより生じる直接的または間接的な損失に対して、当サイトは一切責任を負いません。
	当サイト・または情報を利用する場合、上記の免責事項に同意したとみなし自己責任の上、ご利用下さい。</p></br>
</div>
<%= render "layouts/ad_footer" %>
