<% provide(:title, "Contact") %>
    <h2>お問い合わせ</h2>
    <div class = "Contacts">
      <h3>はじめに</h3>
<p>当サイトへの質問、疑問、アドバイス、要望..etc。なんでも構いません。お気軽にメールをお寄せ下さい。<p>
  <h3>管理人プロフィール</h3>
  <p>
    見ず知らずの人間に問い合わせするのも気が引けるでしょうから、簡単に自己紹介しときます。。
  </p>
  <p>
    <ul>
      <li>20台独身（2014年12月時点）</li>
      <li>名前；けんしん</li>
      <li>エロサイト運営歴；1ヶ月（2014年12月時点）</li>
      <li>昼のお仕事がございますので、仕事終わりの空き時間にサイト運営を行っています。</li>
      <li>オナニーに1日1時間くらい使っているのが無駄で無駄でしょうがねぇと思い、「オナニータイムを節約せよ」という目標を定めた結果、
        サイトの構築というアホな結論に至った次第です。</li>
    </ul>
  <h3>問い合わせの際のおねがい（for webmaster）</h3>
  <p>
    <ul>
      <li><bold>件名は必ず入力してください。</bold></li>
      <li><bold>本文中にお名前（仮名でも結構です）を入れて下さい。</bold></li>
      <li><bold>当サイトの集客は検索メインです。外部リンク設置はコンテンツの邪魔をしない程度にしています。相互リンクの依頼はお受けしますが、無修正・児童ポルノ・著作権侵害を目的とした動画（長編AV）の配信を行っているサイト様はお断りさせていただくことがございます。また、当サイトとかけはなれたジャンルのサイト様もお断りさせていただくことがございます。その旨、ご了承願います。</bold></li>
      <li>極力迅速な対応を心がけておりますが、諸事情により返信が遅れる場合がございます。1週間経っても返信がない場合は督促していただけるとありがたいです。</li>
    </ul>
  </p>
  <h3>問い合わせ先</h3>
    <p>watermelons.infoあっとgmail.com → あっとを@に変えてくださいね。</p>
  
</div>

<%= render "layouts/ad_footer" %>




