<% provide(:title, "Contact") %>
    <h2>お問い合わせ</h2>
    <div class = "Contacts">
      <h3>★はじめに★</h3>
<p>当サイトへの質問、疑問、アドバイス、要望..etc。なんでも構いません。お気軽にメールをお寄せ下さい。<p>
  <h3>★管理人プロフィール★</h3>
  <p>
    見ず知らずの人間に問い合わせするのも気が引けるでしょうから、簡単に自己紹介しときます。。
  </p>
  <p>
    <ul>
      <li>25歳独身（2014年12月時点）</li>
      <li>名前；けんしん</li>
      <li>エロサイト運営歴；1ヶ月（2014年12月時点）</li>
      <li>サイトで使用している技術；Ruby on Rails, Ruby, javascript, Postgresql, capistrano, unicorn, nginx, さくらVPS, bootstrap などですが、どれも初心者であります。。</li>
      <li>お昼のお仕事は秘密です（えっ 。結構まじめに働いています。</li>
      <li>オナニーに1日1時間くらい使っているのが無駄で無駄でしょうがねぇと思い、「オナニータイムを節約せよ」という目標を定めた結果、
        サイトの構築というアホな結論に至った次第です。基本的にシャイで人見知りですが見た目はリア充肉食系っぽいみたいです。</li>
      <li>野球がすきです。そのうち野球に関するコンテンツも提供していきたいと思ったり。</li>
      <li>風俗がすきです。淋病をもらってからはヘルスでもゴムを着用するようになりました。性病怖し。</li>
      <li>Webmaster他、アダルトサイト関係者の皆様、末永く仲良くしてくださいね。</li>
    </ul>
  <h3>★問い合わせの際のおねがい★</h3>
  <p>
    <ul>
      <li><bold>件名は必ず入力してください。</bold></li>
      <li><bold>本文中にお名前（仮名でも結構です）を入れて下さい。</bold></li>
      <li><bold>相互リンク依頼は喜んで受けいたします。サイドバー下部にリンクを設置します。</bold></li>
      <li><bold>相互RSS依頼も喜んでお受けいたします。トップページの「おすすめ更新情報」に貴サイトの更新情報が表示されます。
        ただし、無修正などの違法コンテンツを含む場合は遠慮させていただきます。</bold></li>
    </ul>
  </p>
  <h3>★問い合わせ先★</h3>
    <p>watermelons.infoあっとgmail.com → あっとを@に変えてくださいね。</p>
  
</div>

<%= render "layouts/ad_footer" %>




