
  <ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <%= link_to image_tag("AST.png", alt: "Rails"), 'http://rubyonrails.org/' %>
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
</ul>
