<h4>PR</h4>
<div class="ad_show_footer_pc display_only_pc">
	<div class="ad_show_footer_left">
		<!-- i-mobile for PC client script -->
		<script type="text/javascript">
		imobile_pid = "34711"; 
		imobile_asid = "340334"; 
		imobile_width = 300; 
		imobile_height = 250;
		</script>
		<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>
	</div>

	<div class="ad_show_footer_right">
		<!-- admax -->
		<script src="http://adm.shinobi.jp/s/94409ce2385393c5504196d0df4af68c"></script>
		<!-- admax -->
	</div>
</div>

<div class="ad_show_footer_sp display_only_sp">
	<div class="ad_show_footer_left">
		<!-- i-mobile for PC client script -->
		<script type="text/javascript">
		imobile_pid = "34711"; 
		imobile_asid = "340334"; 
		imobile_width = 300; 
		imobile_height = 250;
		</script>
		<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>
	</div>

	<div class="ad_show_footer_right">
		<!-- admax -->
		<script src="http://adm.shinobi.jp/s/94409ce2385393c5504196d0df4af68c"></script>
		<!-- admax -->
	</div>
</div>