<div class="first_read">
	<h2>お知らせ</h2>
	<p>サイトを少しリニューアルしました。広告を減らしたためコンテンツが見やすくなったと思います。その他にも、レイアウトのマイナーチェンジを行いました。不具合や要望等ありましたらwatermelons.info★gmail.com（★→@)までお知らせいただけると幸いです。</p>
	<h2>はじめにお読み下さい</h2>
	<p>当サイトではアダルト動画を配信しています。全部無料で見れます。
		おっぱい関連の動画が多めです。
		サイト内に埋め込まれた動画を再生する際に以下の点に注意して下さい。
	</p>
	<h3>PCで閲覧する場合</h3>
	<p>当サイト内で動画を見る分には何も心配いりません。リンク先のページに飛ぶのは自己責任でお願いします。</p>
	<h3>スマートフォンから閲覧する場合</h3>
	<p>
		xvideos, FC2以外の埋め込み動画については、見た目は動画プレイヤーでもワンクリサイトへの騙しリンクへと
		変貌している場合がございます。埋め込みタグのスクリプトが自動的に騙しリンクを生成しているものと考えられます。
		騙しリンクによって動画が見れない場合は、		記事下にある元サイトへのリンクをクリックすれば、大抵の場合は目的の動画が見れます。</p>
		<p>ただし、当サイトの配信コンテンツはxvideosが殆どですので、あまり気にしなくても大丈夫です。			
		</p>
	</div>

<h4>検索</h4>
タイトルと説明文の中から検索し、一致したワードを含む記事を表示します。</br>
何も表示されなかった場合は該当記事がなかったということです。キーワードを変えて再検索をお願いします。

<form class="form-search ">
	<span class = "search_description"></span>
	<%= form_tag articles_path, :method => 'get', :action => 'index' do %> <%#　projects_pathはモデル名で読みかえること %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "記事内全文検索", :name => nil %>
	<% end %>
</form>
<h2>ホーム/新着</h2>