<h2>おっぱいの海へ泳ぎたいへようこそ</h2>
<div class="spwords">
	<p>
		「オナニータイムを節約せよ」をモットーに、
		ネットの隅っこでエロサイトを運営しております。
		当サイトの概要については<%= link_to "こちら", about_path %>を御覧ください。
	</p>
</div>

<h4>検索</h4>

<form class="form-search ">
	<div class = "spwords">
		<p>
			タイトルと説明文の中から検索し、一致したワードを含む記事を表示します。
			何も表示されなかった場合は該当記事がなかったということです。キーワードを変えて再検索をお願いします。
		</p>
	</div>
	<%= form_tag articles_path, :method => 'get', :action => 'index' do %> <%#　projects_pathはモデル名で読みかえること %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "記事内全文検索", :name => nil %>
	<% end %>
</form>
<h2>ホーム/新着</h2>