<h4><%= image_tag "manulist.gif" %> おすすめ無料動画（リンク）</h4>
<!-- エロタレスト -->
<div class="centering">
	<div id="eroterest_parts" class="eroterest_parts"></div><script src="http://bpm.eroterest.net/blogparts/?design=1&keyword=%E5%B7%A8%E4%B9%B3%20%E7%BE%8E%E5%B0%91%E5%A5%B3%20JK%20%E5%A5%B3%E5%AD%90%E5%A4%A7%E7%94%9F%20%E3%83%9E%E3%82%B8%E3%83%83%E3%82%AF%E3%83%9F%E3%83%A9%E3%83%BC%20%E3%83%9D%E3%83%AD%E3%83%AA&arrow=1&num=12&size=200&itemwidth=400&suffix="></script>
</div>

<div class="display_only_pc">
	<div class="PRs">
		<div class="left_PR">
			<!-- i-mobile for PC client script -->
			<script type="text/javascript">
			imobile_pid = "34711"; 
			imobile_asid = "340334"; 
			imobile_width = 300; 
			imobile_height = 250;
			</script>
			<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>

		</div>
		<div class="right_PR">
			<!-- i-mobile for PC client script -->
			<script type="text/javascript">
			imobile_pid = "34711"; 
			imobile_asid = "366422"; 
			imobile_width = 300; 
			imobile_height = 250;
			</script>
			<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>

		</div>
	</div>

</div>
<div class="display_only_sp">
	<div class="centering">
		<!-- i-mobile for SmartPhone client script -->
		<script type="text/javascript">
		imobile_tag_ver = "0.2"; 
		imobile_pid = "34711"; 
		imobile_asid = "366418"; 
		imobile_type = "inline";
		</script>
		<script type="text/javascript" src="http://spad.i-mobile.co.jp/script/adssp.js?20110215"></script>

	</div>
</div>

<h4><%= image_tag "manulist.gif" %> おすすめ更新情報</h4>
<!-- livedoor 相互rss -->
<div class="hover_image_list">
	<script type="text/javascript">
	<!--
	var blogroll_channel_id = 145769;
// -->
</script>
<script type="text/javascript" charset="utf-8" src="http://blogroll.livedoor.net/js/blogroll.js"></script>
</div>
