<h4><%= image_tag "manulist.gif" %> おすすめ更新情報</h4>
<!-- livedoor 相互rss -->
<script type="text/javascript">
<!--
    var blogroll_channel_id = 145769;
// -->
</script>
<script type="text/javascript" charset="utf-8" src="http://blogroll.livedoor.net/js/blogroll.js"></script>
