<% provide(:title, "ホーム/新着") %>

<h2>ホーム/新着</h2>

<%= render @articles %>
<%= render "layouts/ad_content_footer" %>

<div class = "digg_pagination">
	<%= will_paginate %>
	<a href = "http://lp.opteck.com/s/182/?olgs_aff=3026&olgs_sid=36&olgs_tr=&olgs_str=">
		【期間限定】ニートでも楽に1000万稼げたんだがww</a>
</div>

<!--各種アンテナサイト-->
<%= render "layouts/ad_footer" %>

