<div class = "news">
<h2>他サイト更新情報</h2>

<script type="text/javascript">
<!--
    var blogroll_channel_id = 145749;
// -->
</script>
<script type="text/javascript" charset="utf-8" src="http://blogroll.livedoor.net/js/blogroll.js"></script>
<link rel="stylesheet" type="text/css" href="http://blogroll.livedoor.net/css/default2.css" />

</div>

<%= render "layouts/ad_footer" %>