<% provide(:title, "人気動画") %>
<h2>過去の人気動画 pv順</h2>
<p>カテゴリ別に人気動画を見ることもできます。左サイドバーの各カテゴリページ最上段に【人気順】というリンクがありますので、ご入用の際はそちらからお願いします。</p>
<%= render @popmovies %>


<div class = "digg_pagination">
	<%= will_paginate %>
</div>

<%= render "layouts/ad_footer" %>


