
.article-box{
	display:inline-block;
	vertical-align:top;
	width: 100%;
	min-height: 280px;
	border-bottom: 2px solid #ECECEC;
	margin-bottom: 10px;
}
.article-box-show{
	display:inline-block;
	vertical-align:top;
	width: 640px;
	min-height: 280px;
	border-bottom: 2px solid #ECECEC;
	margin-bottom: 10px;
}
.article-box-show-sidebar{
	display:inline-block;
	vertical-align:top;
	width: 240px;
	min-height: 700px;
	border-bottom: 2px solid #ECECEC;
	margin-bottom: 10px;
	float:right;
	overflow:scroll;
	background-color: #f5f5f5;
}
.article-sidebar-box-show{
	width: 900px;
}

.title-container{
	display:block;
	margin: 0 0 10px 0;
	font-size: 30px;
	line-height: 40px;
	font-weight:bold;
	background-color: #f5f5f5;
}

.entry-image{
	float:right;
	width: 450px;
	height: 300px;
	overflow: none;
}

.entry-movie{
	/*youtubeの設定を引用*/
	width: 640px;
	height: 420px;
}

ul.entry-data{
	zoom: 1;
}
li.ad-content-show{
	background-color: #f5f5f5;
	min-height:70px;
	float:none;
	overflow:scroll;
	padding-top:5px;
	padding-right:6px;
}
/*紹介文*/
li.description{
	min-height:80px;
	float:none;
	overflow:scroll;
	padding-top:20px;
	padding-right:6px;
	word-wrap:break-word;
}
li.description-show{
	background-color: #f5f5f5;
	min-height:130px;
	float:none;
	overflow:scroll;
	padding-top:5px;
	padding-right:6px;
	word-wrap:break-word;
}
li.category{
	margin: 3px 0px 0px 0;
	font-size: 0.9em;
		a {
		background-color:#e0e0e0;
	}
}
li.date{
	line-height: 12px;
	font-size:0.7em;
	margin: 4px 0 4px 0;
}				
ul.entry-meta{
	padding: 10px 220px 10px 3px;
}
li.domain{
	margin-right: 20px;
	font-family: 'Arial';
	font-size: 12px;
	height: 16px;
	word-wrap:break-word;
}
span.domain{
	color: #999999;
	line-height: 16px;
	text-decoration: none;
	display: inline-block;
	height: 17px;
	width: 100%;
	max-width: 230px;
	white-space: nowrap;
	word-wrap:break-word;
}

.form-box{
	display:inline-block;
	vertical-align:top;
	width: 70%;
	min-height: 280px;
	border-bottom: 2px solid #ECECEC;
	margin-bottom: 10px;
}
.float-form-right{
	float:right;
}
.float-form-left{
	float:left;
}
	
/*class="box3_1"
class="box1_1"*/