// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";


$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;
$grayLighter: #fefefe;


html {
  overflow: auto;
  font-family: arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  font-size:94%;
  padding: 0% 0% 0% 0%;
  margin: 8px;
  max-width: 1000px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
ul {
 list-style-type: none;
 margin-left:0px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */

.header{
  background-color: #fafafa;
}

#logo {
  font-size: 1.7em;
  color: #a0a0a0;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
  line-height: 1;
}
.hd {
  position: relative;
  padding: 1%;
  width: 98%;
  margin-bottom: 10px;
    overflow: auto;
}
.intro {
  margin-top:10px;
  margin-left:150px;
  margin-bottom:10px;
  font-size:0.8em;
  text-align:right;
}
.guide_pc {
  text-align:right;
  margin-bottom:4px;
  ul {
    list-style-type:none;
  }
  li {
      display:inline;
  }
}
/*navbar*/
.nav{
  font-weight:bolder;
  font-size:1.1em;
}


/*content*/
.content {
  overflow: auto;
  background-color: #fafafa;
  border: solid 1px #f0f0f0;
  padding: 8px 8px 8px 8px ;
  margin-bottom: 10px; 
  width: 98%;
}

/*about_us*/
.About_Contact{
  width: 75%;
  
  h3{
    color: #ff3600;
  }
  h4{
    color: #ff7200;
    background-color: #eaeaea;
  }
}
.s{
  font-size: 1.1em;
  font-weight: bolder;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  font-size: 0.7em;
  color: $grayLight;
  a {
    color: $grayDarker;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/*errors*/

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}