// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";


$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;
$grayLighter: #fefefe;
$BodyBackground: #fff;

/* common_style */

html {
  overflow: auto;
}
body {
  background-color: $BodyBackground;
  font-size:0.9em;
  margin: 0 auto;
  font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  /*font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;*/
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

ul {
 list-style-type: none;
 margin-left:0px;
}
p{
  line-height:1.7em;
  font-size:13px;
}
h1{
  display:block;
  margin: 0px;
  font-size: 15px;
  line-height:15px;
  font-weight:bold;
  padding:0px 0px 0px 3px;

}
h2{
  display:block;
  font-size: 16px;
  line-height: 40px;
  font-weight:bold;
  letter-spacing:-1px;
  background: linear-gradient(white, #eee);
  border-width:0px 0px 0px 5px;
  border-color: #cc0000;
  border-style:solid;
  padding:0px 0px 0px 3px;
}
h3{
  display:block;
  margin: 10px 5px 10px 5px;
  font-size: 16px;
  line-height: 30px;
  font-weight:bold;
  background-color: transparent;
  border-width:0px 0px 1px 0px;
  border-color: #0088cc;
  border-style:dotted;
  padding:0px 0px 0px 3px;
}
h4{
  display:block;
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 30px;
  font-weight:bold;
  background: linear-gradient(white, #eee);
  border-width:0px 0px 1px 0px;
  border-color: #cccccc;
  border-style:solid;
  padding:0px 0px 0px 3px;
}
iframe{
  width:100%;
}
/* header */
.header{
  max-width: 1024px;
  margin-top: 35px;
}
#logo {
  color: #00eeff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
  line-height: 1;
  float:left;
  margin-bottom:-10px;
}
.form-search{
  margin-top:5px;
  margin-bottom:-5px;
}
.guide_pc {

  text-align:right;
  li {
    display:inline;
  }
}
/*navbar*/
.nav{
  font-weight:bolder;
  font-size:1.0em;
  float:none;
  padding-bottom:0px;
  margin-bottom:0px;
}
/*はじめにお読み下さい*/
.first_read{
  max-height:300px;
  overflow:scroll;
  p{
    padding-left:15px;
    padding-right:15px;
  }
}

/*content*/
.content {
  overflow: hidden;
  margin-top:50px;
  width: 100%;
  float:none;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  font-size: 0.7em;
  color: $grayLight;
  a {
    color: $grayDarker;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/*errors*/

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.hover_list{
  width:100%;
  ul{
    list-style-image: url(/assets/list.png);
    margin:0px;
    padding:0px;
  }
  li{
    a{
      display:block;
      padding:5px;
      color: #000;
      font-size: 14px;
      text-decoration: none;
    }
    a:hover{
      background-color:#eee;
    }
  }
}
.hover_image_list{
  li{

  }
  a{
    display:block;
    text-decoration:none;
  }
  a:hover{
    background-color:#eee;
  }

}

.item{
    margin:5px!important;
    width:140px!important;
    height:auto!important;
    overflow:hidden;

  }
.item img{
    min-width:140px!important;
    max-width:140px;
    height:100px;
  }

.itemTitle{
    position:static!important;
    background:#fff!important;
    font-style:bold;
    font-size:13px!important;
    width:auto!important;
    height:auto !important;
    border-top:0px solid #ccc!important;
    border-bottom:0px solid #ccc;
    border-right:0px solid #ccc;
    p{
      color:#0088cc!important;
      font-weight:bold;
      margin-left:6px;
      margin-top:3px;
      line-height:116%;
    }
  }
.itemTitle:hover{
  background-color:#eee;
}
.movieTime{

}
.centering{
  text-align:center;
}

.nav-container{
  max-width:1044px;
  margin:0 auto;
}

.pcwords{
  margin-left:15px;
  margin-left:15px;
  line-height:1.7em;
  font-size:13px;
  p{
    margin-bottom:15px;
  }
}

.clicks_container{
  margin-left:5px;
  font-size:1.5em;
}


/*------------------------*//*------------------------*/
/*------------------------*//*------------------------*/
/*----------PC-----------*//*------------PC-----------*/
/*----------PC------------*//*-----------PC-----------*/
/*------------------------*//*------------------------*/
/*------------------------*//*------------------------*/
@media screen and (min-width: 640px){

  body{
    max-width: 1044px;
  }
  .display_only_sp{
    display:none;
  }

  .paisea{

  }
  .content{
    width:1044px;
  }
  /*sidebar_content*/

  .maincol_index_sidebar{
    width: 196px;
    float:left;
    background-color:$BodyBackground;

  }

  .sidebarbox{
    background-color:white;
    border-width:1px 1px 1px 1px;
    border-color: #cccccc;
    border-style:ridge;
    margin-bottom:10px;
    overflow:hidden;

    ul{
      list-style-image: url(/assets/list.gif);
      list-style-position: inside;
    }
    li{
      margin-top: 3px;
      padding-left: 5px;
    }
  }

  .sidebarbox_inner{
    margin-top: 3px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 3px;
    font-size: 0.8em;
  }

  .sidebarbox_popular{
    border-width:1px 1px 1px 1px;
    border-color: #cccccc;
    border-style:solid;
    background-color:white;
    margin-bottom: 10px;

    ul{
      list-style-image: url(/assets/list_popular.gif);
      list-style-position: inside;
    }
    li{
      margin-top: 3px;
      padding-left: 5px;
    } 
  }
  .popular_sidebar_content{
    width:196px;
  }
  .popular_sidebar_image{
    width: 192px;
    height: 110px;
    overflow: scroll;
  }
  .popular_sidebar_title{
    font-weight:bold;
    margin-top: 4px;
    margin-bottom: 1px;
    font-size: 13px;
    max-width: 176px;  
  }
  .popular_sidebar_description{
    font-size:0.8em;
    overflow:hidden;
    color: #777;
    max-height:60px;
    margin-left:10px;
    margin-right:10px;
    text-align:right;
  }

  /*main_content*/
  .maincol_index{
    width:814px;
    float:right;
    padding-left:10px;
    padding-right:10px;
    border-width:1px 1px 1px 1px;
    border-color: #cccccc;
    border-style:ridge;
    background-color:white;
  }

  .maincol_index_header{
    width:814px;
    background-color:white;
  }

  .maincol_index_content{
    max-width:814px;
  }

  /*footer_ad_pc*/
  .ad_footer_pc{
    width:800px;
    overflow:hidden;
    height:auto;
  }
  .ad_footer_pc_left{
    float:left;
    width:490px;
  }
  .ad_footer_pc_right{
    float:right;
    width:290px;
    margin-left:10px;
    li{
      line-height:1.9em;
    }
  }


  /*about_us*/
  .About_Contact{
    width: 800px;  
  }
  .content_description{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .s{
    font-size: 1.1em;
    font-weight: bolder;
  }

  /*contacts*/
  .Contacts{
    margin-bottom:80px;
    p{ 
      padding-left:20px;
      padding-right:20px;
      color: black;
    }
    ul{
      padding-left:20px;
      padding-right:20px;
      list-style-image:url(/assets/list_popular.gif);
    }
    li{
      line-height:1.9em;
      list-style-position:inside;
    }

  }

  .sample_02{
    width:100%;
    border-collapse: separate;
    border-spacing: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .sample_02 th{
    width: 25%;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    color: #444;
    background-color: #ccc;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .sample_02 td{
    padding: 4px;
    background-color: #fafafa;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .next{
    text-align:right;
    margin-left:115px;
    font-weight:bold;
  }

}










/*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*/
/*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*/
/*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*/
/*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*/
/*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*//*---CSS for SmartPhone Site---*/
@media screen and (max-width: 640px){

 /*ads*/
 .ad_sp{
    max-height:250px;
    min-height:100px;
    max-width:640px;
 }


  .display_only_pc{
    display:none;
  }


  body {
    max-width:640px;
    min-width:320px;
  }


 .paisea{
  max-width:640px;
  min-width:300px;
        margin-left:5px;
    margin-right:5px;
}
p{
  color:#222;
}

h2{
  margin: 5px 2px 5px 2px;
  line-height: 30px;

}
h3{
  margin: 5px 2px 5px 2px;
}



/* header */

.header{
  max-width: 630px;
}

#logo {

  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

}


/*contacts*/

.Contacts{
  margin-bottom:80px;
  p{ 
    padding-left:20px;
    padding-right:20px;
    color: black;
  }
  ul{
    padding-left:20px;
    padding-right:20px;
    list-style-image:url(/assets/list_popular.gif);
  }
  li{
      line-height:1.9em;
      list-style-position:inside;
  }

}
/*sidebar_content*/

.maincol_index_sidebar{
  width: auto;
  float:left;
  background-color:white;
  border-width:1px 1px 1px 1px;
  border-color: #cccccc;
  border-style:ridge;
}
.maincol_index_sidebar_sp{
  width: auto;
  background-color:white;
  border-width:1px 0px 1px 0px;
  margin-top: 10px;
  overflow:hidden;
}

.category_sidebar_sp{
  min-width:300px;
  border-width:1px 1px 1px 1px;
  border-color: #cccccc;
  border-style:solid;
  .nav{
    font-size:1.0em;
  }


  li{
    margin-top: 3px;
    padding-left: 5px;
  }
}
.popular_sidebar_sp{
  min-width:300px;
  border-width:1px 1px 1px 1px;
  border-color: #cccccc;
  border-style:solid;
}
.popular_sidebar_content_sp{
  min-width:300px;
  height:auto;
  margin:5px 0px 5px 0px;
  border-width:1px 1px 1px 1px;
  border-color: #cccccc;
  border-style:solid;
  overflow:hidden;
  li{
    overflow:hidden;
  }
}
.popular_sidebar_image_sp{
  width: 192px;
  height: 110px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.popular_sidebar_title_sp{
    font-weight:bold;
    margin-top: 4px;
    margin-bottom: 1px;
    font-size: 13px;

}
.popular_sidebar_description_sp{
  font-size:0.8em;
  margin-left:10px;
    font-size:0.8em;
    overflow:hidden;
    color: #777;
    max-height:60px;
    margin-left:10px;
    margin-right:10px;
}

.sidebarbox_sp{
  background-color:white;
  border-width:1px 1px 1px 1px;
  border-color: #cccccc;
  border-style:solid;
  margin-bottom:10px;
  overflow:hidden;

  ul{
    list-style-image: url(/assets/list.gif);
    list-style-position: inside;
  }
  li{
    margin-top: 3px;
    padding-left: 5px;
  }
}

.sidebarbox_inner_sp{
  margin-top: 3px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 3px;
  font-size: 0.8em;
}
.menu_sidebar_sp{
  border-width:1px 1px 1px 1px;
  border-color: #cccccc;
  border-style:solid;
}

/*main_content*/
.maincol_index{
  width:100%;
  float:none;
  background-color:white;
  border-width:1px 0px 1px 0px;
  border-color: #cccccc;
  border-style:solid;
}

.maincol_index_header{
  min-width:300px;
  background-color:white;
}

.maincol_index_content{
  min-width:300px;

}

/*about_us*/
.About_Contact{
  width: auto;  
}
.content_description{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.s{
  font-size: 1.1em;
  font-weight: bolder;
}

/*footer_ad_sp*/
.ad_footer_sp{
  max-width:640px;
}
.ad_footer_sp_top{
  max-width:640px;
  margin:10px;
  li{
      line-height:1.5em;
  }
}
.ad_footer_sp_bottom{
  max-width:640px;
  text-align:center;
}


}


