<h2>削除依頼はこちらから</h2>
<div class="Contacts">
	<h3>はじめに</h3>

	<p>Webサイトへの掲載が不適切と考えられる動画（無修正など）が誤って掲載されている場合はご一報いただけますと幸いです。また、リンク切れや動画が削除されていて見れない場合なども報告して頂けますと助かります。</p>
	<h3>おねがい</h3>
	<ul>
		<li>メールの件名に「削除依頼」と入れて下さい。</li>
		<li>本文中に該当記事のタイトルと削除を希望される理由を記載して下さい。</li>
		<li>事実確認後、対応を実施しその内容を1週間以内に返信いたします。</li>
	</ul>
	<h3>削除依頼報告先</h3>
	<p>watermelons.infoあっとgmail.com</p>
	<p>あっとを@に変えてくださいね。<p>

</div>




