<div class = "ad_footer_pc display_only_pc">
<!-- i-mobile for PC client script -->
<script type="text/javascript">
    imobile_pid = "34711"; 
    imobile_asid = "340318"; 
    imobile_width = 728; 
    imobile_height = 90;
</script>
<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>

<!-- 動画ナビあんてな -->
<div id="ilikemovnet_" class="ilikemovie-h"></div><script src="http://antenna.i-like-movie.net/embed?num=4&height=250&genre=adultimage"></script>

</div>


