<div class = "ad_footer_pc display_only_pc">
<!-- i-mobile for PC client script -->
<script type="text/javascript">
    imobile_pid = "34711"; 
    imobile_asid = "340318"; 
    imobile_width = 728; 
    imobile_height = 90;
</script>
<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>

</div>
<div class = "ad_sp display_only_sp">
	<!-- admax -->
<script src="http://adm.shinobi.jp/s/6d9ec34e6c0843a9a2105e5e7a5e48b2"></script>
<!-- admax -->
</div>


