<div class="first_read">
<h2>はじめにお読み下さい</h2>
<p>当サイトでは主に海外の動画投稿サイトにアップロードされたアダルト動画を配信しています。
サイト内に埋め込まれた動画を再生する際に以下の点に注意して下さい。
アダルトサイトに不慣れな方は、ワンクリ詐欺等の被害にあう場合がございます。</p>
<h3>PCで閲覧する場合</h3>
<p>当サイト内で動画を見る分には何も心配いりません。元サイトへのリンク先において騙しリンク等にひっかかる場合がございますので、
その点にはご留意頂き、自己責任でのご利用をお願いいたします。</p>
<h3>スマートフォンから閲覧する場合</h3>
<p>PCサイトで埋め込み動画を再生する分には問題なくても、
モバイルから閲覧すると、埋め込み動画がワンクリサイトへの騙しリンクへと
変貌している場合がございます。動画を再生するときには、ブラウザの左下に表示されるurlを見て、
怪しげなサイトではないことを確認するようにしてください。騙しリンクによって動画が見れない場合は、
記事下にある元サイトへのリンクをクリックすれば、大抵の場合は目的の動画が見れます。</p>
<p>なお、そのような騙しリンクは当サイトが意図的に設置したものではなく、
埋め込みタグのスクリプトが自動的に騙しリンクを生成しているものと考えられます。
現在原因を追求しております。解決次第、サイト内コンテンツに対して順次変更を適用していきます。
今のところ安全なものは、やはり大手のxvideos、FC2あたりでしょうか。FC2については一悶着ありましたが、なんとか生き残って欲しいものですね。</p>
</div>
<h2>おすすめ更新情報</h2>
<!-- livedoor 相互rss -->
<script type="text/javascript">
<!--
    var blogroll_channel_id = 145769;
// -->
</script>
<script type="text/javascript" charset="utf-8" src="http://blogroll.livedoor.net/js/blogroll.js"></script>

<div class = "ad_content_header_pc display_only_pc">
<!-- admax -->
<script src="http://adm.shinobi.jp/s/2fded5d29c35c89c479a87fb2b36fd0d"></script>
<!-- admax -->

</div>

<div class = "ad_sp display_only_sp">
<!-- AMoAd Zone: [ヘッダRSSフィード下] -->
<div class="amoad_frame sid_62056d310111552c9c964ce623e77a8d62d40cba36675497f9b332b4be1e3ca4 container_div color_#0000CC-#444444-#FFFFFF-#0000FF-#009900 sp fit"></div>
<script src='http://j.amoad.com/js/aa.js' type='text/javascript' charset='utf-8'></script>
</div>  
