<div class="container">
	<div class="row">
		<div class="span6">
			<div id="logo">
				<h1>おっぱいの海で泳ぎたい<h1><h4>-I wanna dive in boobs-</h4>
			</div>
		</div>
		<div class="span5 offset1">
			<ul>
				<li>安心して楽しめる良質な無料エロ動画を配信中。</li>
				<li>その他、風俗関連の情報やエロニュースの配信も。</li>
				<li>ご利用は18歳になってから♡ → <%= link_to "退室", 'http://www.google.com' %></li>
			</ul>
		</div>
	</div>
</div>

