<div id="logo">
<span>
	<h1>おっぱいの海で泳ぎたい<h1><h4>-I wanna dive in BOOBS-</h4>
</span>
</div>
<p class="intro">
	「おっぱいの海で泳ぎたい」では無料で楽しめるエロコンテンツを配信しています。</br>18歳以下の方は大人になるまでもう少し辛抱してね。
</p>
<div class="guide_pc">
	<ul>
		<li><%= link_to "ヘルプ", '#' %></li>
		<li>|</li>
		<li><%= link_to "お問い合わせ", '#' %></li>
		<li>|</li>
		<li><%= link_to "削除依頼", '#' %></li>
	</ul>
</ul>