<div id="logo">
<span>
	<h1>おっぱいの海で泳ぎたい<h1><h4>-I wanna dive in ぱいSEA-</h4>
</span>
</div>
<p class="intro">
	おっぱいの海で泳ぎたい（以下ぱいSEA）では無料で楽しめるエロコンテンツを配信しています。18歳以下の方はもう少し辛抱して大人になってからおいでやす。
</p>
<div class="guide_pc">
	<ul>
		<li><%= link_to "ヘルプ", '#' %></li>
		<li>|</li>
		<li><%= link_to "お問い合わせ", '#' %></li>
	</ul>
</ul>