
<div class="mutual_links">
	<h4><%= image_tag "manulist.gif" %>おすすめリンク集</h4>
	<ul>
		<li><a href = "http://movie.eroterest.net/">エロタレスト</a></li>
		<div class = "sidebarbox_inner">
			<p>管理人さんの対応も迅速・誠実です。動画を見つけやすい優良サイトはそれとわかるように表示してくれています。日本語でエロ動画を検索するならエロタレストで決まりですね。</p>
		</div>		
		<li><a href = "http://www.elog-ch.net/">エログちゃんねる</a></li>
		<div class = "sidebarbox_inner">
		<p>エログといえばここ。管理人もよく遊びにいきます。ゲームからフェチな動画まで幅広く楽しめるサイト。</p>
	</div>
		<li><a href = "http://www.immoral.jp/index_2.html">インモラル</a></li>
		<div class = "sidebarbox_inner">
		<p>エロの世界のGoogle。検索速度が半端ないです。40万以上のエロ動画を瞬時に日本語で検索。デッドリンクやタイトルの異なる同じ動画が無いようにチェックしてくれているので安心。</p>
		</div>
		<li><a href = "http://eronews.ranks1.apserver.net/share/in.php?u=eronews&id=6683pc">毎日エロ新聞</a></li>
		<div class = "sidebarbox_inner">
			<p>その名の通り、エロ関連の最新情報を網羅したサイトです。手早く情報を集めたいときに最適です。</p>
		</div>
		<li><a href = "http://antenna.i-like-movie.net/">動画ナビあんてな</a></li>
		<div class = "sidebarbox_inner">
			<p>エロ動画のアンテナサイト。人気の動画がすぐ見つかっていいですね。</p>
		</div>
		<li><a href = "http://freedam134679.blog.fc2.com/">大人の立ち寄り所</a></li>
	</ul>
</div>