<div class="mutual_links">
	<h4><%= image_tag "manulist.gif" %>リンク集</h4>
	<ul>
		<li><a href = "http://www.elog-ch.net/">エログちゃんねる<a></li>
		<li><a href = "http://www.immoral.jp/index_2.html">インモラル<a></li>
		<li><a href = "http://xnode.be/">XNode<a></li>
		<li><a href = "http://matome.sekurosu.com/">セクロスまとめ</a</li>
		<li><a href = "http://doujin.sekurosu.com/">セクロス同人</a</li>
		<li><a href = "http://sekurosu.com/">セクロスあんてな</a</li>
		<li><a href = "http://news4vip.livedoor.biz/">ニュー速クオリティ</a</li>
		<li><a href = "http://news.tokimeki-s.com/">ときめき速報</a></li>
		<li><a href = "http://blog.livedoor.jp/nicovip2ch/">ニコニコVIP2ch</a></li>
		<li><a href = "http://1000mg.jp/">1000mg</a></li>
		<li><a href = "http://bakufu.jp/">お宝エログ幕府</a></li>
		<li><a href = "http://movie.eroterest.net/">エロタレスト</a></li>
		<li><a href = "http://axantenna.com/about">あぁーんてな</a></li>
		<li><a href = "http://www.omankojapan.com/morolink/morolink.html">毎日エロ新聞</a></li>
	</ul>
</div>