<ul>			<!--広告1 -->
	<li><a href="http://click.dtiserv2.com/Click/1018005-18-174083" target="_blank"><img src="http://affiliate.dtiserv.com/image/1pondo/18-150-01.jpg" border="0"></a></li>
	<!--広告2 -->
	<li><a href="http://click.dtiserv2.com/Click2/1292008-292-174083" target="_blank"><img src="http://affiliate.dtiserv.com/image/10musume/292-150-01.jpg" border="0"></a>	</li>
	<li><div class = "sidebar_index">
		<!-- 逆アクセスランキングツール -->
		<div id="blz_rank_629_123">
			<script type="text/javascript">
			<!--
			var blzP='rank',blzU='629',blzT='123';
			-->
			</script>
			<script src="https://blozoo.com/js/ranktool/blogparts.js"></script>
		</div>
		<!-- https://blozoo.com/ -->
	</div>
</li>
<li>
			<!--セクロスあんてな-->
			<li><div id="sekurosu_vertical"></div><script src="http://sekurosu.com/embed?num=6&height=180&type=vertical&genre=all"></script><p class="sekurosu_parts_copyright">powered by <a href="http://sekurosu.com" target="_blank" title="セクロスあんてな">セクロスあんてな</a></p></li>
		</li>
</ul>